{% load static %}
<html>
    <head>
        <title>Главная страница</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">Добро пожаловать</a></h1>
    </div>
    <h1>Hello, {{ user.username|default:'Guest' }}</h1>

    <p> Welcome to our site</p>
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>

      {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
    </body>
</html>